<div class="mdl-layout__drawer">
  <div class="drawer_title">
    <a href="index.html"><img src="assets/HYPHE.svg" alt="hyphe logo"></a>
    <h2><a href="index.html">hyphe showcase</a></h2>
  </div>
  <nav class="mdl-navigation">
    <a class="mdl-navigation__link" href="index.html">Projects</a>
    <a class="mdl-navigation__link" href="about.html">About</a>
    <a class="mdl-navigation__link" style="position: absolute; bottom: 5px" href="https://medialab.sciencespo.fr/" target="_blank"> <img src="assets/medialab.png" alt="medialab logo"></a>
  </nav>
</div>
