/* ==========================================================================
   Generic styles
   ========================================================================== */
body {
  color: #555;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-weight: 10;
  font-size: 4em;
  display: flex;
  justify-content: center;
}

a.nostyle:link {
  text-decoration: inherit;
  color: inherit;
  cursor: auto;
}

a.nostyle:visited {
  text-decoration: inherit;
  color: inherit;
  cursor: auto;
}

.main-container {
  display: flex;
  flex-direction: row;
}

.flex-container {
  display: flex;
}

.main-content {
  display: flex;
  padding: 20 %;
  justify-content: center;
}

.projectSmall-container {
  justify-content: center;
  display: flex;
  padding: 0px;
  margin-bottom: 20px;
  background-color: #f000;
  cursor: pointer;
}

/* Concerning cards */
.project-card.mdl-card {
  display: flex;
  width: 700px;
}

.project-card>.mdl-card__title {
  height: 176px;
  /* background: url('./build/assets/graph.png') center/cover; */
  background: url('../assets/graph.png') center / cover;
  /* background: #bbe; */
}

.project-card>.mdl-card__actions {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.zoom {
  transition: transform .2s; /* Animation */
}

.zoom:hover {
  transform: scale(1.05); 
}

/* Drawer */
.mdl-layout__drawer>.mdl-layout__title {
  display: flex;
  weight: 100;
  font-size: 32px;
  text-align: center;
  padding: 8px;
  color: #757575;
}

.mdl-layout__drawer>img {
  padding: 16px;
}

.mdl-navigation__link {
  font-size: 20px;
}
