<html lang="en">

<head>
  <meta charset="UTF-8">
<link rel='icon' href='../assets/favicon.ico' type='image/x-icon'/ >
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../assets/vitrine.css">
  <title> About </title>
</head>

<body>

  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer">
    <div class="mdl-layout__drawer">
      <div class="mdl-layout__title">hyphe showcase</div>
      <img src="../assets/HYPHE.svg" alt="hyphe logo">
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="../build/index.html">Projects</a>
        <a class="mdl-navigation__link" href="./about.html">About</a>
        <a class="mdl-navigation__link" href="https://medialab.sciencespo.fr/"> <img src="../assets/medialab.png" alt="medialab logo"></a>

      </nav>
    </div>

    <main class="mdl-layout__content">
      <div class="mdl-layout main-content">

        <h1>
          About
        </h1>
        <div style=" display:flex; flex-direction: column; margin-left: 20%; margin-right: 20%; margin-top: 5%; margin-bottom: 5%">
          <p>
            Welcome to Hyphe, a research-driven web crawler developped at the Sciences Po médialab for the DIME-SHS Web project (ANR-10-EQPX-19-01).
          </p>

          <p>
            Hyphe aims at providing a tool to build web corpus by crawling data from the web and generating networks between what we call "web entities", which can be single pages as well as a website, subdomains or parts of it, or even a combination
            of those.
          </p>
          <p>
            Learn more and practice on the  <a style="display: inline" href="http://tools.medialab.sciences-po.fr/" target="_blank"> main website </a> or on our <a style="display: inline" href="https://github.com/medialab/hyphe" target="_blank"> GitHub Page</a>.
          </p>

          <!-- <div style=" display:flex; flex-direction: row; justify-content: space-evenly; margin-top: 3%">
            <a style=" display:flex; justify-content: center;" class="mdl-navigation__link" href="https://medialab.sciencespo.fr/"> <img src="../assets/medialab.png" alt="medialab logo"></a>

            <a style=" display:flex; justify-content: center;" class="mdl-navigation__link" href="https://medialab.sciencespo.fr/"> <img src="../assets/GitHub_Logo_Grey.png" alt="GitHub logo"></a>
          </div> -->

        </div>


        <div style=" display:flex; flex-direction: column; margin-left: 20%; margin-right: 20%; margin-top: 5%; margin-bottom: 5%">
          <p>
            Discover more of our projects at <a style="display: inline" href="http://tools.medialab.sciences-po.fr/" target="_blank">médialab tools</a>.
          </p>

          <p>
            This work is supported by DIME-Web, part of DIME-SHS research equipment financed by the EQUIPEX program (ANR-10-EQPX-19-01).
          </p>

          <div style=" display:flex; flex-direction: row; justify-content: space-evenly; margin-top: 3%; height: 128px">
            <a style="display:flex; justify-content: center" class="mdl-navigation__link" href="https://anr.fr/fr/investissements-davenir/les-investissements-davenir/"> <img src="../assets/CGI.png" width="128" height="128" alt="ANR logo"></a>

          </div>
        </div>

    </main>
  </div>


  <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</body>

</html>
