<html lang="en">

<head>
  <meta charset="UTF-8">
  <title> Projects </title>
</head>

<body>
  <div class="flex-container">
    <h1>Projects</h1>
  </div>

  <div class="flex-container">

    {{> projectSmallPartial}}

  </div>



  <link rel="stylesheet" href="/node_modules/material-design-lite/material.min.css">
  <script src="/node_modules/material-design-lite/material.min.js"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <script src="http://localhost:35729/livereload.js"></script>
</body>

</html>
